

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    overflow-x: hidden;
}

body {
    background-color: black;
	line-height: 1;
    overflow-x: hidden;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// VARIABLES

$white : white;
$blue :  rgba(0, 0, 128, 0.853);
$bold : "bold";
$regular : "regular";
$semi-bold : "semi-bold";

.banner{background-image: url(img/banner.jpg); height: 100vh; background-size: cover; background-repeat: no-repeat;
    .overlay{display: flex; justify-content: center; align-items: center; height: 100%; 
        .name{width: 50%; color: white; margin-top: 40px; text-align: center;
            h1{font-family: $semi-bold; font-size: 50px; margin-bottom: 20px;}
            p{font-family: $regular; font-size: 16px; line-height: 34px;
                a{color: $white;}
            }
            .button{width: 104%; margin-top: 40px;
                i{color: $white;}
                .first{margin-left: 5px;}
                a{background-color: rgba(0, 0, 0, 0); color: white; font-size: 16px; font-family: $regular; text-decoration: none;padding: 15px; border: 1px solid $white; border-radius: 0px; border-top: 0px; border-left: 0px; border-right: 0px;}
            }
            .button:hover{
                .first{margin-left: 5px; transition: 1s;}
            }
        }
    }
}

.about{color: $white; margin-top: 80px;
        h2{font-size: 30px; font-family: $semi-bold; margin-bottom: 50px;}
        .info{
            p{font-size: 16px; font-family: $regular; line-height: 28px; margin-bottom: 20px;}
            .vids{position: relative;
                .black{background:black; height: 12px; width: 100%; position: absolute; bottom: 0;}
                .back{background: black; height: 30px; width: 35px; position: absolute; bottom: 0; right: 0;}
            }
        }
}

.services{color: $white; margin-top: 80px;
    h2{font-size: 30px; font-family: $semi-bold; margin-bottom: 10px;}
    p{font-size: 16px; font-family: $regular; line-height: 28px; margin-bottom: 20px;}
    .skills{margin-top: 50px; 
        .slick-dots{display: flex; justify-content: center;  margin-top: 20px;
            .slick-active{
                button{background-color: rgb(70, 68, 68); color: rgb(70, 68, 68); outline: 0px;}
            }
            button{background-color: rgb(41, 40, 40); color: rgb(41, 40, 40); margin-right: 10px; border-radius: 100%; width: 40px; height: 40px;}
        }
        .list{background-color: rgb(26, 24, 24); margin: 20px 0px; width: 100%; padding-top: 30px; padding-bottom: 30px; padding-left: 40px;
            img{width: 55px; height: 55px; margin-bottom: 20px;}
            h3{font-size: 20px; font-family: $semi-bold; margin-bottom: 20px;}
            p{font-size: 16px; font-family: $regular; margin-bottom: 10px;}
            i{color: $white;}
            .sec{margin-right: 10px;}
        }
    }
}

.portfolio{margin-top: 100px;  
    h2{color: white; font-family: $semi-bold; font-size: 40px; margin-bottom: 25px;}
    .project{height: 60vh; position: relative; margin-top: 25px;
        img{height: 100%; width: 100%; object-fit: cover;}
        .overlay{background-color: rgb(26, 24, 24); position: absolute; height: 100%; width: 100%; top: 0px; padding: 25px 25px; opacity: 0;
            h3{ font-size: 25px; font-family: $semi-bold; margin-bottom: 20px;
                a{color: white; text-decoration: none;}
            }
            p{font-size: 16px; font-family: $regular; color: $white; line-height: 28px;}
            .visit{display: block; position: absolute; bottom: 25px; color: $white; font-family: $regular; font-size: 17px;}
        }
        .overlay:hover{opacity: 1; transition: 1s;}
    }
}

.say{background-color: rgb(26, 24, 24); margin-top: 80px;
    .innersay{color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; text-align: center;
        h2{font-family: $semi-bold; font-size: 40px; margin-bottom: 25px; width: 100%; line-height: 1.2;}
        p{font-size: 16px; font-family: $regular; color: $white; line-height: 28px; width: 100%;}
        .button{margin-top: 50px;
            .first{margin-left: 5px;}
            a{background-color: rgba(0, 0, 0, 0); color: white; font-size: 16px; font-family: $regular; text-decoration: none;padding: 15px; border: 1px solid $white; border-radius: 7px;}
        }
    }
}

.contact{margin-top: 80px;
    h2{color: white; font-family: $semi-bold; font-size: 40px; margin-bottom: 60px;}
    .icons{height: 100%; display: flex; flex-direction: column;
        .icon{display: flex; margin-bottom: 30px; align-items: center;
            .icon-size{height: 70px; width: 70px; display: flex; justify-content: center; align-items: center; background-color: rgb(26, 24, 24);
                .first{color: $white; text-decoration: none; font-size: 20px; font-weight: bolder;}
            }
            p{font-size: 16px; font-family: $regular; color: $white; line-height: 25px; margin-left: 20px;
                a{font-size: 17px; font-family: $regular; color: $white; text-decoration: none; }
            }
        }
    }
    form{
        input, textarea{width: 100%; outline: 0; border: 1px solid rgb(26, 24, 24); background-color: rgb(26, 24, 24); padding: 15px; margin-bottom: 15px; color: white; font-family: $regular;}
        button{padding: 15px; font-size: 16px; font-family: $regular; color: $white; background-color: rgb(26, 24, 24); outline: 0; width: 20%;}
    }
}

footer{margin-top: 80px; padding: 40px 0; background-color: rgb(26, 24, 24);
    .copyright{display: flex; justify-content: space-between;}
    p{font-size: 16px; font-family: $regular; color: $white; line-height: 25px; margin-left: 20px;}
    a{font-size: 18px; color: $white; text-decoration: none; margin-left: 10px;}
    a:hover{text-decoration: none; color: aliceblue;}
    .media{display: flex; align-items: center; justify-content: center;
        p{margin-right: 20px;}
    }
}







/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .banner{height: 50vh;}

    .portfolio{margin-top: 100px;  
        h2{color: white; font-family: $semi-bold; font-size: 40px; margin-bottom: 25px;}
        .project{height: 30vh; position: relative; margin-top: 25px;
            img{height: 100%; width: 100%; object-fit: cover;}
            .overlay{background-color: rgb(26, 24, 24); position: absolute; height: 100%; width: 100%; top: 0px; padding: 25px 25px; opacity: 0;
                h3{ font-size: 25px; font-family: $semi-bold; margin-bottom: 20px;
                    a{color: white; text-decoration: none;}
                }
                p{font-size: 17px; font-family: $regular; color: $white; line-height: 28px;}
                .visit{display: block; position: absolute; bottom: 25px; color: $white; font-family: $regular; font-size: 17px;}
            }
            .overlay:hover{opacity: 1; transition: 1s;}
        }
    }

    .say{
        .innersay{height: 50vh;}
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner{height: 100vh; 
        .overlay{justify-content: flex-end; background-color: linear-gradient(top, red, green);
            .name{text-align: left;}

        }
    }

    .services{color: $white; margin-top: 80px;
        h2{font-size: 30px; font-family: $semi-bold; margin-bottom: 10px;}
        p{font-size: 16px; font-family: $regular; line-height: 28px; margin-bottom: 20px;}
        .skills{margin-top: 50px; 
            .slick-dots{display: flex; justify-content: center;  margin-top: 20px;
                .slick-active{
                    button{background-color: rgb(70, 68, 68); outline: 0px;}
                }
                button{background-color: rgb(41, 40, 40); color: rgb(41, 40, 40); margin-right: 10px; border-radius: 100%; width: 30px; height: 30px;}
            }
            .list{background-color: rgb(26, 24, 24); margin: 0 10px; width: 30%; padding-top: 30px; padding-bottom: 30px; padding-left: 40px;
                img{width: 55px; height: 55px; margin-bottom: 20px;}
                h3{font-size: 20px; font-family: $semi-bold; margin-bottom: 20px;}
                p{font-size: 16px; font-family: $regular; margin-bottom: 10px;}
                i{color: $white; font-size: 12px;}
                .sec{margin-right: 10px;}
            }
        }
    }

    .portfolio{
        .project{height: 60vh;}
    }

    .say{margin-top: 80px;
        .innersay{color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80vh; text-align: center;
            h2{width: 60%; line-height: 1.2;}
            p{line-height: 28px; width: 60%;}
            .button{margin-top: 50px;
                .first{margin-left: 5px;}
                a{background-color: rgba(0, 0, 0, 0); color: white; font-size: 16px; font-family: $regular; text-decoration: none;padding: 15px; border: 1px solid $white; border-radius: 7px;}
            }
            .button:hover{margin-top: 50px;
                .first{margin-left: 5px;}
                a{background-color: white; color: rgb(26, 24, 24); transition: 1s; border: 1px solid white;}
            }
        }
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}